/* Variables for JS */
:root {
    --bgColor: #428bca;
}

/* General Tags */
html {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}

body {
    padding: 0px;
    margin: 0px;
}

h4 {
    padding: 5px 20px;
}

a {
    text-decoration: none;
}

p {
    color: black;
}

nav {
    padding: 10px 0px 10px 0px;
}

nav > a {
    vertical-align: middle;
}

nav > i {
    color: red;
}

iframe {
    width: auto;
    height: 130px;    
}

table {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: black;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background-color: lightsalmon;
}

tbody {
    background-color: lightgoldenrodyellow;
}

tfoot {
    background-color: lightgray;
}

button {
    background-color: var(--bgColor);
    border-radius: 4px 4px 4px 4px;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 26px;
}

button:hover {
    background-color: darkgrey;
}

footer {
    background-color: var(--bgColor);
    border-radius: 0px 0px 10px 10px;
    padding: 5px 20px;
}

footer > p {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}


/* IDs & specific instances of tags */

/* Modal */
#modal {
    z-index: 1;
    width: 100%;
    display: none;
    position: fixed;
    padding: 50px;
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    margin: 10px auto;
    width: 500px;
    padding: 10px;
    border: 10px solid #d3d3d3;
    border-radius: 10px;
    background-color: white;
}

#modal-content > img {
    width: 100%;
}

/* Top Bar */
#top-bar {
    padding: 10px;
    margin: 0px;
    background-color: var(--bgColor);
    width: 100%;
}

#top-bar > a {
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#top-bar > i {
    vertical-align: middle;
}

/* Main Container area */
#main-container {
    width: 1000px;
    margin: auto;
}

/* Banner */
#banner {
    background-image: url("../img/background.jpg");
    /* background-color: var(--bgColor); Incase image fails to load */
    padding: 20px;
    margin: 0px;
}

#banner > h1 {
    vertical-align: middle;
}

/* Main Grid */
#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-column-gap: 10px;
}

/* Individual grid items */
#grid-image > img {
    width: 100%;
    padding: 0px;
}

#grid-text > p, #grid-links > p {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 130%;
}

#subgrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    grid-gap: 10px;
    vertical-align: middle;
}

/* Classes */
.grid-header {
    background-color: var(--bgColor);
    padding: 5px 20px;
    border-radius: 0px 10px 0px 0px;
}

.grid-content {
    padding: 10px;
    border: 10px solid #d3d3d3;
    margin-bottom: 10px;
}

.colspan2 {
    margin: 0px;
    grid-column: 1 / 3;
}

.colspan1 {
    margin: 0px;
}
